<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customers</title>
    <link th:href="@{/css/style1.css}" rel="stylesheet" />
</head>
<body>
<!-- HEADER -->
<div th:replace="fragments/header::top-nav"></div>
<!-- BODY -->
<h1>Nombre de customers <span th:text="${customerCount}"></span></h1>
<form method="post" th:action="@{/do_search_name}" th:object="${searchNames}">
    <input type="text" placeholder="rechercher..."/>
    <button type="submit">click</button>
</form>
<table class="table table-hover">
    <thead class="text-warning">
    <th>Nom</th>
    <th>Prenom(s)</th>
    <th>Email</th>
    <th>Ville</th>
    <th>Pays</th>
    <th>Detail</th>
    </thead>
    <tbody>
    <tr th:each="customer:${allCustomer}">
        <td th:text="${customer.lastName}"></td>
        <td th:text="${customer.firstName}"></td>
        <td th:text="${customer.email}"></td>
        <td th:text="${customer.address.city.city}"></td>
        <td th:text="${customer.address.city.country.country}"></td>
        <td><a th:href="${'/customer/'+customer.customerId}" >Detail</a></td>
    </tr>
    </tbody>
</table>
<!-- FOOTER -->
<footer th:replace="fragments/footer::footer"></footer>
</body>
</html>